body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.header{  
display: flex;
justify-content: space-around;
margin:0;
padding:0;
background-color: #1F2937;
font-family:Arial, Helvetica, sans-serif;

}
.header-ul{
padding: 12px;
}

.firstdiv{
    display: flex;
    background-color:#1F2937;
    padding: 50px;
    justify-content: center;
}
.firstdiv-right{
 display: block;
 width: 400px;
 padding: 0 50px;
 margin: 0;
}
.Title{
    margin: 0;
    font-size: 48px;
    color:#F9FaF8;
}
p{
    font-size:18px;
}

.firstdiv-left img{
    width: 400px;
    height: 250px
}
.seconddiv{

}
.items{

}
.thirddiv{

}
.forthdiv{

}
.footer{

}
a{
    color: white;
    text-decoration: none;
}
ul *{
   
    display: inline;
    color: white;
    padding: 10px;
}